<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Restful Booker Test Suite">
    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTests"/>
        </classes>
    </test>
    <test name="Contact Form Tests">
        <classes>
            <class name="tests.ContactPageTest"/>
        </classes>
    </test>
</suite> 